@page
@model StoreSln_OOP.Pages.Statistics.ByCategoryModel

<div class="border p-3 mt-4">
    <div class="pt-2 pb-4">
        <h2 class="text-primary">Thống kê số hàng còn lại trong kho theo thể loại</h2>
        <hr />
    </div>

    <div>
        <div class="submit-form pt-2 pb-4 border">
            <form method="post">
                <div class="mb-3 bordered">
                    <label for="Category" style="width:110px;">Loại Hàng: </label>
                    <select name="CategoryID" class="mw-50" style="width:150px;">
                        <option value="-1">----------</option>
                        @foreach (var c in Model.Categories)
                        {
                            <option value="@c.ID.ToString()">@c.Name</option>
                        }
                    </select>
                    <button class="btn btn-primary mx-4" type="submit"><i class="bi bi-funnel-fill"></i> Lọc</button>
                </div>
            </form>
        </div>
        <div class="pt-2 pb-4">
            <table class="table table-bordered table-striped" width="100%">
                <tr>
                    <th>Mã mặt hàng</th>
                    <th>Tên mặt hàng</th>
                    <th>Loại hàng</th>
                    <th>Giá</th>
                    <th>Hạn sử dụng</th>
                    <th>Ngày sản xuất</th>
                    <th>Công ty sản xuất</th>
                    <th>Số lượng trong kho</th>
                </tr>

                @foreach (var p in Model.Products)
                {
                    var category = Model.Categories.FirstOrDefault(c => c.ID == p.CategoryID);
                    var totalProductLeft = ProductBL.CountInInvoices(p.ID) - ProductBL.CountInReceipts(p.ID);
                    <tr>
                        <td>@p.ID</td>
                        <td>@p.Name</td>
                        <td>@category.Name</td>
                        <td>@p.Price</td>
                        <td>@p.ExpiryDate.ToString("dd/MM/yyyy")</td>
                        <td>@p.ManufacturingDate.ToString("dd/MM/yyyy")</td>
                        <td>@p.Manufacturer</td>
                        <td>@totalProductLeft</td>
                    </tr>
                }
            </table>
            <div class="d-flex flex-row-reverse">
                <a asp-page="Index" class="btn btn-primary">Trở về trang trước</a>
            </div>
        </div>
    </div>
</div>