@page
@model StoreSln_OOP.Pages.Statistics.ByExpiryDateModel
<div class="border p-3 mt-4">
    <div class="pt-2 pb-4">
        <h2 class="text-primary">Thống kê mặt hàng hết hạn sử dụng tại ngày @(Model.ExpiryDate.ToString("dd/MM/yyyy")).</h2>
        <hr />
    </div>
    @if(!Model.Products.Any())
    {
        <div class="pt-2 pb-4">
            <span class="text-danger">Không có mặt hàng nào hết hạn vào ngày @(Model.ExpiryDate.ToString("dd/MM/yyyy")).</span>
        </div>
    }
    <div>
        <div class="pt-2 pb-4">
            <table class="table table-bordered table-striped" width="100%">
                <tr>
                    <th>Mã mặt hàng</th>
                    <th>Tên mặt hàng</th>
                    <th>Loại hàng</th>
                    <th>Giá</th>
                    <th>Hạn sử dụng</th>
                    <th>Ngày sản xuất</th>
                    <th>Công ty sản xuất</th>
                    <th>Số lượng trong kho</th>
                </tr>

                @foreach (var p in Model.Products)
                {
                    var category = Model.Categories.FirstOrDefault(c => c.ID == p.CategoryID);
                    var totalProductLeft = ProductBL.CountInInvoices(p.ID) - ProductBL.CountInReceipts(p.ID);
                    <tr>
                        <td>@p.ID</td>
                        <td>@p.Name</td>
                        <td>@category.Name</td>
                        <td>@p.Price</td>
                        <td>@p.ExpiryDate.ToString("dd/MM/yyyy")</td>
                        <td>@p.ManufacturingDate.ToString("dd/MM/yyyy")</td>
                        <td>@p.Manufacturer</td>
                        <td>@totalProductLeft</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <a asp-page="Index" class="btn btn-primary">Trở về trang trước</a>
    </div>
</div>
