@page
@model StoreSln_OOP.Pages.Product.EditProductModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Sửa mặt hàng</h2>
            <hr />
        </div>
        @if (Model.IsNotiActive)
        {
            <div class="mb-3 border">
                <ul class="text-danger">
                    @foreach (var noti in Model.Notifications)
                    {
                        if (noti != null)
                        {
                            <li>
                                <span>@noti</span>
                            </li>

                        }
                    }
                </ul>
            </div>
        }
        <div class="mb-3">
            <label for="name" style="width:180px;">Mã mặt hàng</label>
            <input disabled class="mw-50" style="width:210px;" type="text" name="ID" value="@Model.ID">
        </div>
        <div class="mb-3">
            <label for="name" style="width:180px;">Tên</label>
            <input class="mw-50" style="width:210px;" type="text" name="Name" value="@Model.Product?.Name">
        </div>
        <div class="mb-3">
            <label for="Category" style="width:180px;">Loại Hàng</label>
            <select class="mw-50" style="width:210px;" name="CategoryID" value="@Model.Category?.ID">
                @foreach (var c in Model.Categories)
                {
                    <option value="@c.ID">@c.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="Price" style="width:180px;">Giá</label>
            <input class="mw-50" style="width:210px;" type="text" name="Price" value="@Model.Product?.Price">
        </div>
        <div class="mb-3">
            <label for="Manufacturer" style="width:180px;">Công ty sản xuất</label>
            <input class="mw-50" style="width:210px;" type="text" name="Manufacturer" value="@Model.Product?.Manufacturer">
        </div>
        <hr/>
        <div class="mb-3">
            <label for="oldExpiryDate" style="width:180px;">Hạn sử dụng</label>
            <input disabled class="mw-50" style="width:210px;" type="text" name="str_oldExpiryDate" value="@Model.Product?.ExpiryDate.ToShortDateString()">
        </div>
        <div class="mb-3">
            <label for="ExpiryDate" style="width:180px;">Chọn hạn sử dụng mới: </label>
            <input class="mw-50" style="width:210px;" type="date" name="str_ExpiryDate" value="@Model.Product?.ExpiryDate.ToShortDateString()">
        </div>
        <hr />
        <div class="mb-3">
            <label for="oldManufacturingDate" style="width:180px;">Ngày sản xuất</label>
            <input disabled class="mw-50" style="width:210px;" type="text" name="str_oldManufacturingDate" value="@Model.Product?.ManufacturingDate.ToShortDateString()">
        </div>
        <div class="mb-3">
            <label for="ManufacturingDate" style="width:180px;">Chọn ngày sản xuất mới</label>
            <input class="mw-50" style="width:210px;" type="date" name="str_ManufacturingDate" value="@Model.Product?.ManufacturingDate.ToShortDateString()">
        </div>
        <hr />
        <button type="submit" class="btn btn-primary" style="width:150px;">Sửa</button>
        <a asp-page="Index" class="btn btn-secondary">Trở về danh sách mặt hàng</a>
    </div>
</form>