@page
@model StoreSln_OOP.Pages.Receipt.EditReceiptModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Hóa đơn bán hàng</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label class="form-label mx-3" for="Name" style="width:180px;">Mã hóa đơn: </label>
            <input disabled class="" type="text" name="ID" style="width:210px;" value="@Model.ID">
        </div>
        <div class="mb-3">
            <label class="form-label mx-3" for="Name" style="width:180px;">Ngày giờ tạo (tự động): </label>
            <input disabled class="" type="text" name="str_CreationDateTime" style="width:210px;" value="@Model.str_CreationDateTime">
        </div>
        <div class="mb-3">
            <label class="form-label mx-3" for="Name" style="width:180px;">Sửa ngày giờ tạo: </label>
            <input class="" type="datetime-local" name="str_NewCreationDateTime" style="width:210px;" value="@Model.str_CreationDateTime">
        </div>

        <div class="mb-3">
            <table class="table table-bordered table-striped" width="100%">
                <tr>
                    <th>STT</th>
                    <th>Tên mặt hàng</th>
                    <th>Loại hàng</th>
                    <th>Hạn sử dụng</th>
                    <th>Ngày sản xuất</th>
                    <th>Công ty sản xuất</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th> </th>
                </tr>

                @for (int i = 0; i<Model.BillRecords.Count; i++ )
                {
                    var product = Model.Products.FirstOrDefault(p => p.ID == Model.BillRecords[i].ProductID);
                    var category = Model.Categories.FirstOrDefault(p => p.ID == product.CategoryID);
                    var amount = product.Price * Model.BillRecords[i].ProductCount;
                    Model.TotalAmount += amount;
                    <tr>
                        <td>@(i+1)</td>
                        <td>@product.Name</td>
                        <td>@category.Name</td>
                        <td>@product.ExpiryDate.ToShortDateString()</td>
                        <td>@product.ManufacturingDate.ToShortDateString()</td>
                        <td>@product.Manufacturer</td>
                        <td>@product.Price</td>
                        <td>@Model.BillRecords[i].ProductCount</td>
                        <td class="text-right">@amount</td>
                        <td style="width:110px;">
                            <a asp-page="../BillRecord/DeleteBillRecord" asp-route-action="Edit" asp-route-type="Receipt" asp-route-id="@Model.ID" asp-route-recordid="@Model.BillRecords[i].ID" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3-fill"></i> Xóa
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="text-left" colspan="8"><b>Tổng thành tiền:</b></td>
                    <td class="text-right"><b>@Model.TotalAmount</b></td>
                    <td> </td>
                </tr>
            </table>
            <div class="d-flex flex-row-reverse">
                <a asp-page="../BillRecord/AddBillRecord" asp-route-type="Receipt" asp-route-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary"><i class="bi bi-plus-square"></i> Thêm mặt hàng mới</a>
            </div>
        </div>
        <hr />

        <button type="submit" class="btn btn-primary">Lưu và trở về danh sách hóa đơn nhập</button>
        
    </div>
</form>